
    <div class="map">
        <div class="header">
        <h3 style="font-size: 10vh">
            COUKKAS
        </h3>
        <P class="PHeader"> 
            Find and collect hidden coupons in your city.
        </P>
    </div>
        <div class="learn">
            Learn more
            <i class="icon-down-open-big">
            </i>
            <div class="learnText">
                Lsasdasldl ldjsald laskjewjeoia. ldkjasldkj. lkdjaslkdasjdhkljashdlkjasdkj
                dsakjdljsalkdjlkasjdlkjsalkdjlkas.
                </div>
            </div>


  
   <div class="buttons">
    <button class="buttonRegister">
        REGISTER
    </button>
<div style="height: 20px;"></div>
    <button class="buttonLogin">
            LOGIN
        </button>
    </div>
</div>

   
        

