
    <div class="map">
        <div class="header">
        <h3 style="font-size: 10vh">
            COUKKAS
        </h3>
        <P class="PHeader"> 
            Find and collect hidden coupons in your city.
        </P>
    </div>
        <div class="learn">
            Learn more
            <i class="icon-down-open-big">
            </i>
            <div class="learnText">
                Find fences setted in your city by companies offering different types of vouchers and promotional coupons. In every fence  there are coupons which change their position from time to time but stay within their fence. The size of the fences and the number of vouchers are determined by their owners.  When you are within of any fence you can  try to catch one of the promotional coupon. To catch a coupon you need to be a few meters away from it at the time of  trial.
                </div>
            </div>


  
   <div class="buttons">
    <button class="buttonRegister">
        REGISTER
    </button>
<div style="height: 20px;"></div>
    <button class="buttonLogin">
            LOGIN
        </button>
    </div>
</div>

   
        

